# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# Private chat files & generated data
*.xlsx
*.csv
chat*.txt
*.txt
!requirements.txt
